In [6]:
import pandas as pd
import numpy as np
import os
os.chdir(r'D:\pythonBigData')

In [4]:
df = pd.read_excel("Ecomplatform.xlsx")

In [5]:
df.info()
#df.user_id[2: 1048579]
df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   user_id        1048575 non-null  int64
 1   item_id        1048575 non-null  int64
 2   behavior_type  1048575 non-null  int64
 3   user_geohash   330790 non-null   object
 4   item_category  1048575 non-null  int64
 5   time           1048575 non-null  object
dtypes: int64(4), object(2)
memory usage: 48.0+ MB

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
1,97726136,383583590,1,NaN,5894,2014-12-09 20
2,98607707,64749712,1,NaN,2883,2014-12-18 11
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10

In [ ]:
df.describe()

            user_id       item_id  behavior_type  item_category
count  1.048575e+06  1.048575e+06   1.048575e+06   1.048575e+06
mean   7.188182e+07  2.023274e+08   1.105449e+00   6.843557e+03
std    4.139837e+07  1.167736e+08   4.572209e-01   3.809137e+03
min    4.913000e+03  6.680000e+02   1.000000e+00   8.000000e+00
25%    3.566983e+07  1.015051e+08   1.000000e+00   3.690000e+03
50%    7.319659e+07  2.019976e+08   1.000000e+00   6.194000e+03
75%    1.080497e+08  3.035514e+08   1.000000e+00   1.029000e+04
max    1.424559e+08  4.045617e+08   4.000000e+00   1.408000e+04

数据清洗

In [ ]:
df.rename(columns = {'user_id':"用户ID", 'item_id':'商品ID', 'behavior_type':'用户行为', 'user_geohash':'地理位置','item_category':'商品种类ID','time':'时间'}, inplace=True)
df.head(5)
#df.用户行为.quantile(q  = 0.999)

In [ ]:
df['日期'] = df['时间'].str.split(' ',expand = True)[0]
df['小时'] = df['时间'].str.split(' ',expand = True)[1]
df.head(5)

转换日期

In [ ]:
df['日期'] = pd.to_datetime(df['日期'])
df.info()
df.head(5)

删除地理位置（清洗）

In [ ]:
del df['地理位置']
del df['时间']
df.head(5)

用户行为分析
Page Views 访问量，网页点击一次或刷新一次。
Unique Visitor 独立访客，访问网站的一个用户、一台机子、一个IP。

In [ ]:
pvDaily = df.groupby('日期')['用户ID'].count()
pvDaily

In [ ]:
uvDailyId = df.groupby('日期')['用户ID'].unique()
uvDaily = df.groupby('日期')['用户ID'].nunique()
uvDaily

In [ ]:
import matplotlib.pylab as plt
plt.rcParams['font.sans-serif']=['SimHei']

In [ ]:
%matplotlib inline

In [ ]:
plt.figure(figsize=(20,8), dpi = 200)
plt.plot(pvDaily)
plt.title("日点击量")
plt.show()

In [ ]:
plt.figure(figsize=(20,8))
plt.plot(uvDaily)
plt.title("日访问用户")
plt.show()

In [ ]:
#用户活跃度
#type(uvDaily)
userAct = uvDaily / df['用户ID'].nunique()
plt.figure(figsize=(20,8))
plt.plot(userAct)
plt.title("用户日活跃度")
plt.show()

In [ ]:
#小时PV
pvHour = df.groupby('小时')['用户ID'].count()
plt.figure(figsize=(20,8))
plt.plot(pvHour)
plt.title("小时PV")
plt.show()

In [ ]:
uvHour = df.groupby('小时')['用户ID'].nunique()
plt.figure(figsize=(20,8))
plt.plot(uvHour)
plt.title("小时PV")
plt.show()

用户消费行为

In [ ]:
#四种行为
beData = df.groupby(['小时','用户行为'])['用户ID'].count().reset_index()
beData

In [ ]:
df[df['用户行为'] == 4].groupby('用户ID')['用户行为'].count()

数据进一步分析请自行发掘