numpy的应用

In [2]:
import numpy as np

生成ndarray 主要方法:array、linspace、arange、zeros、ones、dig

In [ ]:
arr = np.array([1,3,6,7,8])
arr1 = np.arange(1, 10)
arr1

In [ ]:
arr2 = np.linspace(1,10,9)
arr2

In [ ]:
arr3 = np.zeros((2,3), dtype = float)
arr3

In [ ]:
arr4 = np.diag([1,2,3,4])
arr4

In [ ]:
arr5 = np.arange(1,25).reshape(12,2)
arr5

主要属性：ndim、shape、size、dtype、itemsize、data、flat（迭代器）

In [34]:
arr5.ndim
arr5.shape
arr5.size
arr5.dtype
arr5.itemsize
arr5.data
a = arr5.flat
arr5

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16],
       [17, 18],
       [19, 20],
       [21, 22],
       [23, 24]])

访问：索引和切片

In [37]:
arr5

11

numpy函数

In [ ]:
np.sqrt((arr5))

In [ ]:
arr5
np.where(arr5 > 10, 1, 0)
#arr5

In [ ]:
np.extract(arr5 > 10, arr5)

pandas

In [47]:
import pandas as pd

Series数据结构

Series建立

In [63]:
ps = pd.Series([1,2,3,4], index = list("abcd"))
ps[['a', 'c']]

a    1
c    3
dtype: int64

Series属性:values、index

In [60]:
ps.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Series方法：sort_index、sort_values、reset_index

In [77]:
ps1 = pd.Series(dict(zip("wycdfgu", list(range(3, 12)))))
ps1
ps2 = ps1.sort_index()
ps2
ps3 = ps1.sort_values(ascending = False)
ps3

u    9
g    8
f    7
d    6
c    5
y    4
w    3
dtype: int64

Series筛选统计方法：where、sum、value_counts

In [83]:
ps1.where(ps1 > 5, 0)
ps1.sum()
ps1['g'] = 9
ps1.value_counts()

9    2
3    1
4    1
5    1
6    1
7    1
dtype: int64

pandas时间序列函数：date_range(start, end/periods, freq)

In [91]:
pd.date_range(start = "2022.10.30", periods = 10, freq = "W")

DatetimeIndex(['2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04', '2022-12-11', '2022-12-18',
               '2022-12-25', '2023-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

pandas的DataFrame

DataFrame的创建

In [100]:
arr6 = np.arange(2, 26).reshape(4, 6)
arr6 = arr6.T
arr6

array([[ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23],
       [ 6, 12, 18, 24],
       [ 7, 13, 19, 25]])

In [105]:
df1 = pd.DataFrame(arr6, columns = list("abcd"))
df1

   a   b   c   d
0  2   8  14  20
1  3   9  15  21
2  4  10  16  22
3  5  11  17  23
4  6  12  18  24
5  7  13  19  25

DataFrame信息函数：info、head、tail

In [110]:
#df1.info()
#df1.head(3)
df1.tail(3)

   a   b   c   d
3  5  11  17  23
4  6  12  18  24
5  7  13  19  25

DataFrame的访问：切片

In [118]:
#type(df1.b)
#df1[['b','d']]
#df1[:3]
#df1[1:3][['a', 'c']]
df1

   a   b   c   d
0  2   8  14  20
1  3   9  15  21
2  4  10  16  22
3  5  11  17  23
4  6  12  18  24
5  7  13  19  25

DataFrame的loc、iloc访问与切片

In [120]:
#df1.loc[:, ['a', 'b']]
df1.iloc[:,[0, 1]]

   a   b
0  2   8
1  3   9
2  4  10
3  5  11
4  6  12
5  7  13

DataFrame修改行列索引

In [126]:
df1.index = list("abcdef")
df1.columns = ['z', 'w', 'x', 'y']
df1

   z   w   x   y
a  2   8  14  20
b  3   9  15  21
c  4  10  16  22
d  5  11  17  23
e  6  12  18  24
f  7  13  19  25

DataFrame数据修改

In [131]:
df1.loc['b', 'z'] = 5
df1.iloc[1:4,[0,2]] = 100
df1

     z   w    x   y
a    2   8   14  20
b  100   9  100  21
c  100  10  100  22
d  100  11  100  23
e    6  12   18  24
f    7  13   19  25

DataFrame数据筛选方法：条件筛选、where

In [135]:
#df1.where(df1 < 100, 1)
df1[df1 > 10]

       z     w    x   y
a    NaN   NaN   14  20
b  100.0   NaN  100  21
c  100.0   NaN  100  22
d  100.0  11.0  100  23
e    NaN  12.0   18  24
f    NaN  13.0   19  25

DataFrame的行列删除及条件删除

In [142]:
#df1.drop(labels = 'a', axis = 1)
df1.drop(labels = 'a', axis = 0, inplace = True)
df1

     z   w    x   y
b  100   9  100  21
c  100  10  100  22
d  100  11  100  23
e    6  12   18  24
f    7  13   19  25

DataFrame排序

In [147]:
#df1.sort_index(ascending = False)
#df1.sum()
df1.mean()

z    62.6
w    11.0
x    67.4
y    23.0
dtype: float64

DataFrame读csv、excle文件

In [ ]:
import os
#os.getcwd()
os.chdir('C:\\Users\\Xuan\\OneDrive\\Python\\resource')
os.getcwd()

In [ ]:
dfcsv = pd.read_csv("GDP-China.csv", header = 0)
dfcsv.iloc[:,3]

In [170]:
dfexl = pd.read_excel("Python2023F.xlsx", header = 6, nrows = 90)
dfexl

C:\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,序号,学号,姓名,班级,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,2020216265,孙先超,物流管理20-2班,NaN,NaN,NaN,NaN
1,2,2020216659,祝作祺,计算机20-1班,NaN,NaN,NaN,NaN
2,3,2020216899,薛良涛,机械工程20-1班,NaN,NaN,NaN,NaN
3,4,2020217018,李研*,过控20-2班,NaN,NaN,NaN,NaN
4,5,2020217037,肖力文,过控20-2班,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
85,86,2021218442,李令英*,环境生态工程21-2班,NaN,NaN,NaN,NaN
86,87,2021218446,万镇华,环境生态工程21-2班,NaN,NaN,NaN,NaN
87,88,2021218462,石丹阳,食品质量与安全21-1班,NaN,NaN,NaN,NaN
88,89,2021218522,王智,食品质量与安全21-2班,NaN,NaN,NaN,NaN
89,90,2021218562,卢永璋,食品质量与安全21-3班,NaN,NaN,NaN,NaN

In [172]:
dfexl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   序号          90 non-null     int64
 1   学号          90 non-null     int64
 2   姓名          90 non-null     object
 3   班级          90 non-null     object
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  0 non-null      float64
dtypes: float64(4), int64(2), object(2)
memory usage: 5.8+ KB